div.lbox {
    background-color: var(--bg3);
    padding: 15px;
}

div.litem {
    background-color: var(--bg2);

    border-color: var(--bg5);
    border: dotted;
    border-width: 2px;

    margin: 5px;

    height: 100px;

    padding: 10px;
}
img.licon {
    width: 100px;
    height: 100px;

    display: block;
    float: left;
    margin-right: 5px;
}
span.ltitle {
    font-weight: bold;
    padding: 0px;
    margin: auto;
    color: var(--bg6);
    font-size: 24pt;
}

span.lartist {
    padding: 0px;
    margin: auto;
    color: var(--fg1);
    font-size: 100%;
}

span.ltracks, span.ltype {
    font-weight: bold;
    padding: 0px;
    margin: auto;
    color: var(--bg6);
    font-size: 100%;
}

div.fullfocus {
    background-color: #00000086;
    backdrop-filter: blur(3px);

    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;

    width: 100%;
    height: 100%;
}

div.prototypepopup {
    position: relative;
    top: calc(50% - 100px);
    width: 90%;
    max-width: 500px;
    height: 200px;
    margin: auto;
    background-color: var(--bg2);
    border: solid;
    border-width: 2px;
    border-color: var(--fg3);
    padding: 5px;
}
div.mediumpopup {
    position: relative;
    top: calc(50% - 500px/2);
    width: 90%;
    max-width: 500px;
    height: 500px;
    margin: auto;
    background-color: var(--bg2);
    border: solid;
    border-width: 2px;
    border-color: var(--fg3);
    padding: 5px;
}
input[type=button].lbtn, input[type=button].lbtnitem {
    background-color: var(--bg5);
    color: var(--bg1);
    font-family: jupiteroid;
    font-size: 12pt;
    border: solid;
    border-color: var(--bg5);
    border-radius: 3px;
}
input[type=button].lbtn:hover, input[type=button].lbtnitem:hover {
    background-color: var(--bg1);
    color: var(--fg3);
    border-color: var(--bg1);
}
input[type=button].lbtn:active, input[type=button].lbtnitem:active {
    background-color: white;
    color: black;
    border-color: white;
}

input[type=text] {
    background-color: var(--bg1);
    color: var(--fg3);
    border: solid;
    border-color: var(--bg1);
    margin: auto;
    width: 98%;
}

input.lbtnitem {
    margin: 10px;
    margin-left: 0px;
    position: relative;
    float: right;
    top: 0px;
}
input.popupbutton {
    margin: 5px;
    position: absolute;
    float: right;
    top: calc(100% - 30px);
}