@font-face {
    font-family: modenine;
    src: url(fonts/modenine.ttf);
}

:root {
    --bg1: #010a06;
    --bg2: #04140d;
    --fg1: #2d614a;
    --fg2: #15271f;
}

nav {
    background-color: var(--fg1);
    color: var(--bg1);
    padding: 5px;
}

hr {
    color: var(--fg2);
}

h1 {
    font-size: 20pt;
    padding: 0px;
    margin: auto;
    text-align: right;
}

html, body {
    padding: 0px;
    margin: auto;
    background-color: var(--bg1);
    color: var(--fg1);
    font-family: modenine;
}

body {
    padding: 15px;
}