@font-face {
    font-family: modenine;
    src: url(fonts/modenine.ttf);
}

:root {
    --bg1: #010a06;
    --bg2: #04140d;
    --fg1: #2d614a;
}

html, body {
    padding:            0px;
    margin:             auto;
    margin-top:         50px;
    background-color:   var(--bg1);
    color:              var(--fg1);
    font-family:        modenine;
}

main {
    padding:            10px;
    padding-top:        50px;
    max-width:          1000px;
    width:              90%;
    margin:             auto;
    background-color:   var(--bg2);
    color:              var(--fg1);
}

h1 {
    text-align: center;
}

nav {
    width:              100%;
    height:             auto;
    padding:            5px;
    position:           fixed;
    top:                0px;
    background-color:   var(--fg1);
    color:              var(--bg1);
    vertical-align:     middle;

}