@font-face {
    font-family: modenine;
    src: url(fonts/modenine.ttf);
}

:root { /* variables */
    --bg1: #010a06;
    --bg2: #04140d;
    --fg1: #2d614a;
    --fg2: #15271f;
    --fg3: #319769;
}

div.cbox {
    background-color: var(--bg2);
    width: 90%;
    max-width: 900px;
    padding: 15px;
    margin: auto;
    margin-top: 15px;
}

nav.desktop {
    background-color: var(--fg1);
    text-align: left;

    color: var(--bg1);
    padding: 5px;
}

nav.mobile {
    background-color: var(--fg1);
    font-size: 25pt;
    text-align: left;

    color: var(--bg1);
    padding: 10px;
}

hr {
    color: var(--fg2);
}

h1 {
    font-size: 20pt;
    padding: 0px;
    margin: auto;
    text-align: center;
}

html, body {
    padding: 0px;
    margin: auto;
    background-color: var(--bg1);
    color: var(--fg1);
    font-family: modenine;
}

body {
    padding: 15px;
}